include ../../../mixins/_zoos-mixins.pug

-const activeUrl = '/pages/zoos/panda';

-
  const zoosUrl = [
    '/pages/zoos/panda',
    '/pages/zoos/eagle',
    '/pages/zoos/gorilla',
    '/pages/zoos/lemur',
    '#',
    '#',
    '#',
    '#',
  ]

-
  const imgClass = [
    'panda',
    'eagle',
    'gorilla',
    'lemur',
    'crocodile',
    'lion',
    'tiger',
    'koala',
  ]

-
  const textArr = [
    "Watch live from China's Panda Center ",
    'Watch The Bald Eagles Nest from West End cam',
    'Livestream from Gorilla Forest Corridor habitat cam',
    'The ring-tailed lemurs play in Madagascar, Lemuria Land',
    'Watch live from USA Alligator Center',
    'Livestream from Lion Savannah Corridor habitat cam',
    'Watch The Amur Tiger from southern part of the Far East',
    'Watch The Koala from Eastern Australia Koala Center',
  ]

+aside(imgClass, zoosUrl, textArr, activeUrl)