include ../../../mixins/_zoos-mixins.pug

-const text = 'Our process for bamboo donations first starts with a site evaluation. It is important that our team sees where the bamboo is growing, then determining if the bamboo is a species that our animals are currently eating. Thank you for your interest in donating bamboo for our pandas.'

+donate(
  'make the Bamboo Donation!',
  text
)