include ../../../mixins/_zoos-mixins.pug

-const remarkText = 'Pandas are often seen eating in a relaxed sitting posture, with their hind legs stretched out before them. They may appear sedentary, but they are skilled tree-climbers and efficient swimmers.'

-const statText = `Giant pandas are very unusual animals that eat almost exclusively bamboo, which is very low in nutrients. Because of this, they have many unique adaptations for their low-energy lifestyle. Giant pandas are solitary. They have a highly developed sense of smell that males use to avoid each other and to find females for mating in the spring. After a five-month pregnancy, females give birth to a cub or two, though they cannot care for both twins. The blind infants weigh only 5 ounces at birth and cannot crawl until they reach three months of age. They are born white, and develop their much loved coloring later. Habitat loss is the primary threat to this species. Its popularity around the world has helped the giant panda become the focus of successful conservation programs.`

-
  const namesArr = [
    ['Common name:', 'Giant Panda'],
    ['Scientific name:', 'Ailuropoda melanoleuca'],
    ['Type:', 'Herbivore'],
    ['Size:', '4 to 5 feet'],
    ['Diet:', 'Omnivore'],
    ['Habitat:', 'Forests'],
    ['Range:', 'Eastern Asia'],
  ]

+zoos-know(
  'did you know?',
  remarkText,
  namesArr,
  `${imgUrl}/images/cam/stat-panda.png`,
  'panda',
  statText
)