include ../../../mixins/_zoos-mixins.pug

-
  const srcArr = [
    [`${imgUrl}/images/cam/panda-1.png`, 'panda video 1'],
    [`${imgUrl}/images/cam/panda-2.png`, 'panda video 2'],
    [`${imgUrl}/images/cam/panda-3.png`, 'panda video 3'],
  ]

+zoos-cams(
  'live panda cams',
  'https://www.youtube.com/embed/OObOQ2GElhA?controls=0',
  'More live views',
  srcArr
)