include ../../../mixins/_zoos-mixins.pug

-const activeUrl = '/pages/zoos/gorilla';

-
  const zoosUrl = [
    '/pages/zoos/gorilla',
    '/pages/zoos/lemur',
    '/pages/zoos/panda',
    '/pages/zoos/eagle',
    '#',
    '#',
    '#',
    '#',
  ]

-
  const imgClass = [
    'gorilla',
    'lemur',
    'panda',
    'eagle',
    'tiger',
    'crocodile',
    'lion',
    'koala',
  ]

-
  const textArr = [
    'Livestream from Gorilla Forest Corridor habitat cam',
    'The ring-tailed lemurs play in Madagascar, Lemuria Land',
    "Watch live from China's Panda Center ",
    'Watch The Bald Eagles Nest from West End cam',
    'Watch The Amur Tiger from southern part of the Far East',
    'Watch live from USA Alligator Center',
    'Livestream from Lion Savannah Corridor habitat cam',
    'Watch The Koala from Eastern Australia Koala Center',
  ]

+aside(imgClass, zoosUrl, textArr, activeUrl)