include ../../../mixins/_zoos-mixins.pug

-
  const srcArr = [
    [`${imgUrl}/images/cam/gorilla-1.png`, 'gorilla video 1'],
    [`${imgUrl}/images/cam/gorilla-2.png`, 'gorilla video 2'],
    [`${imgUrl}/images/cam/gorilla-3.png`, 'gorilla video 3'],
  ]

+zoos-cams(
  'gorillas cams',
  'https://www.youtube.com/embed/rgXWDk7rh4w?controls=0',
  'More live views',
  srcArr
)
