include ../../../mixins/_zoos-mixins.pug

-const text = 'It is our goal to ensure the conservation and restoration of the gorilla population and their habitat in Central Africa. To do this, we need your help! Bring your food charity straight to Glen and his family.'

+donate(
  'make a difference for the gorillas!',
  text
)