@import "../global";

// ----------------------------------------------------------------------
// map
// ----------------------------------------------------------------------
.map {
  &__title {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 70px;
    color: $navy;
    text-align: center;
  }

  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__map-wrapper {
    margin-bottom: 150px;
    position: relative;
  }

  &__map {
    width: 100%;
  }

  &__marker {
    position: absolute;
    height: 145px;
    width: 105px;
    background: url("#{$assets}/icons/map/marker.svg") no-repeat center;
    filter: drop-shadow(0px 4px 30px rgba(245, 128, 33, 0.7));
    transition: $transition;
    cursor: pointer;

    &:hover {
      background-image: url("#{$assets}/icons/map/marker-active.svg");
    }
    &:after {
      content: "";
      position: absolute;
    }

    &--eagle {
      bottom: 39.6%;
      left: 11.3%;
      &:after {
        width: 49px;
        height: 49px;
        background: url("#{$assets}/icons/map/eagle.svg");
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--crocodile {
      bottom: 39.8%;
      left: 20.3%;
      &:after {
        width: 58px;
        height: 47px;
        background: url("#{$assets}/icons/map/crocodile.svg");
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--lion {
      bottom: 34.5%;
      left: 40.5%;
      &:after {
        width: 52px;
        height: 47px;
        background: url("#{$assets}/icons/map/lion.svg");
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--gorilla {
      bottom: 32%;
      left: 48.7%;
      &:after {
        width: 55px;
        height: 47px;
        background: url("#{$assets}/icons/map/gorilla.svg");
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--lemur {
      bottom: 19%;
      right: 36.3%;
      &:after {
        width: 33px;
        height: 56px;
        background: url("#{$assets}/icons/map/lemur.svg");
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--panda {
      bottom: 46%;
      right: 25%;
      &:after {
        width: 59px;
        height: 44px;
        background: url("#{$assets}/icons/map/panda.svg");
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--tiger {
      bottom: 29%;
      right: 20.7%;
      &:after {
        width: 60px;
        height: 53px;
        background: url("#{$assets}/icons/map/tiger.svg");
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--koala {
      right: 11.1%;
      bottom: 16.5%;
      &:after {
        width: 43px;
        height: 54px;
        background: url("#{$assets}/icons/map/koala.svg");
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--inactive {
      pointer-events: none;
      &:hover {
        background: url("#{$assets}/icons/map/marker.svg") no-repeat center;
      }
    }
  }

  // --------------------------------------------------------------------------------------------------------------------------------------
  // MEDIA 1440
  // --------------------------------------------------------------------------------------------------------------------------------------
  @media (max-width: 1440px) {
    &__title {
      margin-top: 29px;
      margin-bottom: 17px;
    }

    &__map-wrapper {
      margin-bottom: 97px;
    }

    &__marker {
      &--eagle {
        bottom: 42%;
        left: 10.3%;
      }

      &--crocodile {
        bottom: 38.8%;
        left: 20.1%;
      }

      &--lion {
        bottom: 35.5%;
        left: 40%;
      }

      &--gorilla {
        left: 48.3%;
      }

      &--lemur {
        right: 35.3%;
      }

      &--panda {
        bottom: 49%;
        right: 20.5%;
      }

      &--tiger {
        bottom: 27%;
        right: 20.2%;
      }
    }
  }

  // --------------------------------------------------------------------------------------------------------------------------------------
  // MEDIA 980
  // --------------------------------------------------------------------------------------------------------------------------------------
  @media (max-width: 980px) {
    &__title {
      font-size: 42px;
      line-height: 51px;
      margin-bottom: 68px;
    }

    &__map-wrapper {
      margin-bottom: 100px;
    }

    &__marker {
      transform: scale(0.43) translate(-50%, 50%);

      &--eagle {
        left: 10.2%;
      }

      &--crocodile {
        bottom: 38%;
        left: 19.5%;
      }

      &--lion {
        bottom: 32.5%;
      }

      &--gorilla {
        left: 48%;
        bottom: 30.5%;
      }

      &--lemur {
        right: 28.3%;
        bottom: 17%;
      }

      &--panda {
        bottom: 46%;
        right: 13%;
      }

      &--tiger {
        bottom: 24%;
        right: 12.5%;
      }

      &--koala {
        right: 5.1%;
        bottom: 15.5%;
      }
    }
  }

  // --------------------------------------------------------------------------------------------------------------------------------------
  // MEDIA 600
  // --------------------------------------------------------------------------------------------------------------------------------------
  @media (max-width: 600px) {
    &__title {
      text-transform: lowercase;
      font-weight: 500;
      font-size: 26px;
      line-height: 130%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__map-wrapper {
      display: flex;
      margin-bottom: 100px;
      overflow: hidden;
      justify-content: center;
      margin-bottom: 50px;
    }

    &__map {
      width: 113%;
    }

    &__marker {
      transform: scale(0.35) translate(-50%, 50%);

      &--eagle {
        left: 1%;
        bottom: 34%;
      }

      &--crocodile {
        bottom: 27%;
        left: 11.5%;
      }

      &--lion {
        left: 35%;
        bottom: 25.5%;
      }

      &--gorilla {
        left: 43%;
        bottom: 18%;
      }

      &--lemur {
        right: 16%;
        bottom: 6%;
      }

      &--panda {
        bottom: 34%;
        right: 3%;
      }

      &--tiger {
        bottom: 15%;
        right: -2.5%;
      }

      &--koala {
        right: -11.9%;
        bottom: 2.5%;
      }
    }
  }
}
