.popup.popupCare(data-modal='')
  .popup__body.popupCare__body
    .popup__content.popupCare__content
      a.popup__close.popupCare__close
      img.popup__image.popupCare__image(src=`${imgUrl}/images/popup/care-popup.jpg` alt="popupCare")
      h2.popupCare__title.title
        | together we care, save and protect!
      p.popup__text.popupCare__text.text
        | Your most generous gift not only cares for countless animals, but it also offers hope and a vital lifeline to the world’s most endangered wildlife relying on us to survive.
      .popup__btn-wrapper.popupCare__btn-wrapper
        button.popup__btn.popupCare__btn.popup-btn-donate(data-cash="20") $20
        button.popup__btn.popupCare__btn.popup-btn-donate(data-cash="30") $30
        button.popup__btn.popupCare__btn.popup-btn-donate(data-cash="50") $50
        button.popup__btn.popupCare__btn.popup-btn-donate(data-cash="80") $80
        button.popup__btn.popupCare__btn.popup-btn-donate(data-cash="100") $100
        button.popup__btn.popupCare__btn.popup-btn-donate(data-cash="0") Other Amount