form.popup.popupDonate
  .popup__body.popupDonate__body.content-1
    .popup__content.popupDonate__content
      .popup__header
        h2.popupDonate__title make your donation
      .popup__info.popupDonate__info
        p.popup__info-text.popupDonate__info-text.text Donation Information:
        .popup__info-line.popupDonate__info-line
      .popup__wrapper.popup-donation
        .popup-donation__title.text
          span *
          |  Choose your donation amount:
        .popup-donation__inner-btn
          button.popup__btn.popup-donation__btn(data-curcash="10") 10$
          button.popup__btn.popup-donation__btn(data-curcash="20") 20$
          button.popup__btn.popup-donation__btn(data-curcash="30") 30$
          button.popup__btn.popup-donation__btn(data-curcash="50") 50$
          button.popup__btn.popup-donation__btn(data-curcash="80") 80$
          button.popup__btn.popup-donation__btn(data-curcash="100") 100$
        .popup-donation__other-amount
          button.popup__btn.popup-donation__btn.popup-donation__btn--big.otherAmountBtn Other amount
          input.popup-donation__input-amount.popup__input.text(type="number" name="price" min="0" max="9999" data-limit="4")
        .popup-donation__special-pet
          button.popup__btn.popup-donation__btn.popup-donation__btn--big.specialPet for special pet
          .popup-donation__select-wrap
            #select
        .popup-donation__checkbox
          label
            input(type="checkbox")
            p.text Make this a monthly recurring gift
        .popup-donation__footer
          ul.popup-donation__pagination
            li.popup-donation__pagination-item.active
            li.popup-donation__pagination-item
            li.popup-donation__pagination-item
          .btn.btn--green.popup-donation__btn--next.first-next next
  .popup__body.popupDonate__body.content-2.hide
    .popup__content.popupDonate__content
      .popup__header
        h2.popupDonate__title make your donation
      .popup__info.popupDonate__info
        p.popup__info-text.popupDonate__info-text.text Billing Information:
        .popup__info-line.popupDonate__info-line
      .popup__wrapper.popup-donation
        label.popup__label.popup-donation__label.popup-donation__title.text
          span *
          |  Your Name
          input#name.popup__input.text.popup-donation__input.required(type="text" name="name" placeholder="First and last name" required)
        label.popup__label.popup-donation__label.popup-donation__title.text
          span *
          |  Your Email Address
          input#email.popup__input.text.popup-donation__input.required(type="email" name="email" placeholder="Enter your email" required)
        p.popup__text.popup-donation__text.text
          | You will receive emails from the Online Zoo, including updates and news on the latest discoveries and translations. You can unsubscribe at any time.
        .popup-donation__footer
          ul.popup-donation__pagination
            li.popup-donation__pagination-item.active
            li.popup-donation__pagination-item.active
            li.popup-donation__pagination-item
          .btn.btn--transparent.popup-donation__btn--prev.first-prev Back
          .btn.btn--green.popup-donation__btn--next.second-next next
  .popup__body.popupDonate__body.content-3.hide
    .popup__content.popupDonate__content
      .popup__header
        h2.popupDonate__title make your donation
      .popup__info.popupDonate__info
        p.popup__info-text.popupDonate__info-text.text Payment Information:
        .popup__info-line.popupDonate__info-line
      .popup__wrapper.popup-donation
        .popup__inner.popup-donation__inner-top
          label.popup__label.popup-donation__label.popup-donation__title.text.popup-donation__credit-card
            span *
            |  Credit Card Number
            input#credit.popup__input.popup-donation__input.text.required(type="number" name="creditCard" min="0" max="9999999999999999" data-limit="16" required)
          label.popup__label.popup-donation__label.popup-donation__title.text.popup-donation__cvv
            span *
            |  CVV Number
            input#cvv.popup__input.popup-donation__input.text.required(type="number" name="cvv" min="0" max="999" data-limit="3" required)
        .popup-donation__inner-bottom
          .popup-donation__title.text
            span *
            |  Expiration Date
          .popup__inner
            .popup-donation__cardNum-wrap
              #select-month
            .popup-donation__cardNum-wrap
              #select-year
        .popup-donation__footer.popup-donation__footer--last
          ul.popup-donation__pagination
            li.popup-donation__pagination-item.active
            li.popup-donation__pagination-item.active
            li.popup-donation__pagination-item.active
          .btn.btn--transparent.popup-donation__btn--prev.second-prev Back
          button.btn.btn--orange.popup-donation__btn--complete.complete(type="submit" disabled) complete donation