//start map section
section.map
  .map__wrapper
    h3.title.map__title find where are the animals live
    .map__map-wrapper
      img.map__map(src=`${imgUrl}/images/map/map.png`, alt="map")
      .map__marker.map__marker--eagle(title="Bald Eagle, Continental United States")
      .map__marker.map__marker--crocodile.map__marker--inactive
      .map__marker.map__marker--lion.map__marker--inactive
      .map__marker.map__marker--gorilla(title="Western lowland gorillas, Western Africa")
      .map__marker.map__marker--lemur(title="Ring-Tailed Lemur, Southeast Asia")
      .map__marker.map__marker--panda(title="Giant Panda, Eastern Asia")
      .map__marker.map__marker--tiger.map__marker--inactive
      .map__marker.map__marker--koala.map__marker--inactive
//end map section
