// ----------------------------------------------------------------------
// ZOOS CAMS
// ----------------------------------------------------------------------
.zoos-cams {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  &__inner-top {
    position: relative;
  }

  &__title {
    text-align: center;
    margin-top: 54px;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__video-wrapper {
    margin-top: 50px;
    width: 100%;
    position: relative;
  }

  &__video {
    width: 100%;
    height: 790px;
  }

  &__hidden-block {
    position: absolute;
    top: 0;
    width: 100%;
    height: 790px;
    background: #000;
    opacity: 0;
  }
}

// ----------------------------------------------------------------------
// VIEWS SLIDER
// ----------------------------------------------------------------------
.views-slider {
  max-width: 1225px;
  margin: 0 auto;
  margin-bottom: 150px;
  position: relative;

  &__title {
    text-align: center;
    margin-top: 218px;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    max-width: 1040px;
    margin-left: 12.5%;
    justify-content: space-between;
  }

  &__slide {
    cursor: pointer;
  }

  &__video-wrapper {
    width: 320px;
    height: 209px;
    border: 0px;
    border-radius: 5px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(169.43deg, #000000 2.91%, rgba(0, 0, 0, 0) 31.31%);
    }
  }

  &__btn {
    width: 46px;
    height: 32px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    @extend %absolute-center;
    &:after {
      content: "";
      position: absolute;
      @extend %absolute-center;
      width: 13px;
      height: 13px;
      background: url("#{$assets-z}/icons/cam/triangle.svg") no-repeat;
      z-index: 3;
    }
  }

  &__live {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: $white;
    padding: 6px 70px 6px 40px;
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    border-radius: 0 0 5px 0;
    &:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 12px;
      right: 37px;
      background: url("#{$assets-z}/icons/cam/cam.svg") no-repeat;
      z-index: 3;
    }
  }

  &__video {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--active {
      border: 3px solid $orange;
      transform: scale(1.02);
    }
  }
}

// ----------------------------------------------------------------------
// VIEWS NAV
// ----------------------------------------------------------------------
.views-nav {
  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translate(0%, -60%);
    width: 80px;
    height: 80px;
    background: url("#{$assets-z}/icons/nav-arrow-dark.svg") no-repeat center;
    transition: $transition;
    cursor: pointer;
    &:hover {
      border-radius: 5px;
      background: $orange url("#{$assets-z}/icons/nav-arrow-white.svg") no-repeat center;
      border: 1px solid $navy;
    }
  }

  &__next {
    left: auto;
    right: -5%;
    transform: translate(0%, -60%) rotate(180deg);
  }

  &__prev {
    left: 5%;
  }
}

// --------------------------------------------------------------------------------------------------------------------------------------
// MEDIA 1440
// --------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 1440px) {
  // -----------------------------------------------
  //ZOOS CAMS
  // -----------------------------------------------
  .zoos-cams {
    &__title {
      margin-top: 30px;
      margin-right: 25px;
    }

    &__video-wrapper {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
    }

    &__btn {
      padding: 21px 70px 21px 35px;
    }

    &__video,
    &__hidden-block {
      height: 760px;
      width: 1025px;
    }
  }

  // -----------------------------------------------
  // VIEWS SLIDER
  // -----------------------------------------------
  .views-slider {
    & {
      max-width: 985px;
      margin-bottom: 100px;
    }

    &__wrapper {
      max-width: 835px;
    }

    &__title {
      margin-top: 148px;
      margin-left: 80px;
    }

    &__slide {
      max-width: 300px;
    }

    &__video-wrapper {
      width: 265px;
      height: 209px;
    }

    &__live {
      padding: 6px 70px 6px 10px;
    }
  }
  // -----------------------------------------------
  // VIEWS NAV
  // -----------------------------------------------
  .views-nav {
    &__next {
      right: -7%;
    }

    &__prev {
      left: 3%;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------------------------
// MEDIA 980
// --------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 980px) {
  // -----------------------------------------------
  // ZOOS CAMS
  // -----------------------------------------------
  .zoos-cams {
    &__title {
      font-size: 42px;
      line-height: 51px;
      font-weight: 500;
      margin-top: 26px;
      margin-right: 70px;
      text-align: right;
    }

    &__video-wrapper {
      margin-top: 22px;
      height: 63vw;
    }

    &__video,
    &__hidden-block {
      width: 100%;
      height: 100%;
    }

    &__inner-top {
      position: static;
    }

    &__btn {
      top: auto;
      bottom: -13%;
      right: 20px;
      padding: 13px 55px 13px 20px;

      &:after {
        right: 20px;
      }
    }
  }
  // -----------------------------------------------
  // VIEWS SLIDER
  // -----------------------------------------------
  .views-slider {
    & {
      max-width: none;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 80px;
    }

    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 130%;
      text-transform: lowercase;
      margin-top: 35vw;
      margin-left: -90px;
      margin-bottom: 20px;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &__wrapper {
      max-width: none;
      width: 445px;
      margin-right: 20px;
    }

    &__video-wrapper {
      width: 135px;
      height: 106px;
    }

    &__live {
      font-size: 10.218px;
      line-height: 150%;
      padding: 3px 29px 3px 10px;

      &:after {
        transform: scale(0.5);
        top: 0px;
        right: 6px;
      }
    }

    &__btn {
      transform: scale(0.5) translate(-100%, -100%);
    }

    &__navigation {
      display: none;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------------------------
// MEDIA 750
// --------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 750px) {
  .views-slider {
    &__title {
      margin-top: 26.5vw;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------------------------
// MEDIA 600
// --------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 600px) {
  .zoos-cams {
    .container {
      padding: 0;
    }

    &__title {
      font-size: 26px;
      line-height: 32px;
      margin-right: 0;
      text-align: right;
      margin-top: 20px;
      padding-right: 10px;
    }

    &__video-wrapper {
      margin-top: 15px;
      height: 62vw;
    }

    &__video,
    &__hidden-block {
      width: 84.5%;
    }

    &__btn {
      bottom: -101%;
      right: 10px;
      width: calc(100vw - 20px);
      padding: 11px 55px 11px 64px;

      &:after {
        right: 65px;
      }
    }
  }

  .views-slider {
    overflow: hidden;
    margin-bottom: 143px;

    &__title {
      margin-left: 22px;
      margin-top: 40vw;
      margin-bottom: 22px;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
    }

    &__wrapper {
      transform: translate(154px);
    }

    &__video-wrapper {
      width: 44vw;
      height: 35vw;
      margin-right: 20px;
    }
  }
}
