.zoos-donation {
  &__text {
    max-width: 890px;
  }

  @media (max-width: 1440px) {
    &__inner {
      padding: 30px 0px 25px;
    }

    &__inner-text {
      max-width: 740px;
    }

    &__title {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 980px) {
    &__inner {
      padding: 50px 0px 50px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 600px) {
    &__inner {
      padding: 20px 0px 50px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__inner-text {
      margin-bottom: 22px;
    }
  }
}
