.zoos-remark {
  &__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: $aqua;
    margin-bottom: 17px;
  }

  &__subtitle {
    max-width: 920px;
    margin: 0 auto;
  }

  @media (max-width: 1440px) {
    &__title {
      margin-bottom: 23px;
      margin-left: 30px;
    }

    &__subtitle {
      max-width: 740px;
    }
  }

  @media (max-width: 980px) {
    &__title {
      margin-left: 0;
      margin-bottom: 30px;
    }

    &__subtitle {
      padding: 0 40px;
    }
  }

  @media (max-width: 600px) {
    &__title {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 23px;
    }

    &__subtitle {
      padding: 0 9px;
    }
  }
}
.zoos-know {
  margin-bottom: 150px;

  &__remark {
    text-align: center;
    max-width: 1040px;
    margin-left: 17%;
    margin-top: 147px;
    margin-bottom: 150px;
    padding: 50px 0;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  &__about-animal {
    max-width: 1160px;
  }

  &__about-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  @media (max-width: 1440px) {
    & {
      margin-bottom: 100px;
    }

    &__remark {
      margin-top: 100px;
      margin-left: 8.5%;
      max-width: 930px;
      padding: 30px 0;
      margin-bottom: 100px;
    }
  }

  @media (max-width: 980px) {
    &__remark {
      margin-top: 80px;
      margin-left: 0;
      padding-top: 25px;
      padding-bottom: 50px;
      margin-bottom: 80px;
    }

    &__about-inner {
      display: grid;
      grid-template-columns: 100%;
    }

    &__about-inner {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 600px) {
    margin-bottom: 75px;

    .container {
      padding: 0;
    }

    &__remark {
      padding-top: 30px;
      padding-bottom: 45px;
      margin: 50px 10px;
    }

    &__about-inner {
      margin-bottom: 31px;
    }
  }
}
.about-animal {
  &__stat {
  }

  &__image-wrapper {
    width: 440px;
    height: 440px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1440px) {
    &__image-wrapper {
      width: 455px;
      height: 455px;
    }
  }

  @media (max-width: 980px) {
    &__image-wrapper {
      grid-row: 1/1;
      width: 100%;
      height: 600px;
      margin-bottom: 80px;
    }
  }

  @media (max-width: 600px) {
    &__image-wrapper {
      height: 320px;
      margin-bottom: 49px;
    }
  }
}
.animal-stat {
  position: relative;

  &__inner {
    margin-bottom: 21px;
  }

  &__name,
  &__descr {
    display: inline;
  }

  &__name {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    margin-right: 20px;
  }

  &__descr {
    font-size: 18px;
    line-height: 150%;
  }

  &__btn-text {
    margin-top: -20px;
    margin-left: 33px;
  }

  &__text {
  }

  @media (max-width: 1440px) {
    &__inner {
      margin-bottom: 22px;
    }
  }

  @media (max-width: 600px) {
    padding-left: 10px;

    &__descr,
    &__name {
      display: block;
    }

    &__btn-text {
      margin-top: 0;
      margin-left: 0;
      left: 50%;
      transform: translate(-50%, 38%);
      font-weight: 600;
      font-size: 20.273px;
      line-height: 25px;
      width: 240px;

      &::after {
        right: 55px;
      }
    }

    &__text {
      padding: 0 10px;
    }
  }
}
