extends ../../../layouts/main.pug

block variables
  - const currentUrl = '/zoos';
  - const imgUrl = "../../../assets";
  - const cssUrl = "../main.css";
  - const jsUrl = "../script.js";
  - const generalJs = "../../script.js";

block content
  .wrapper
    article.zoos
      include ../../../sections/zoos/gorilla/_gorilla-aside.pug
      include ../../../sections/zoos/gorilla/_gorilla-cam.pug
      include ../../../sections/zoos/gorilla/_gorilla-donate.pug
      include ../../../sections/zoos/gorilla/_gorilla-know.pug