include ../../../mixins/_zoos-mixins.pug

-
  const srcArr = [
    [`${imgUrl}/images/cam/eagle-1.png`, 'eagle video 1'],
    [`${imgUrl}/images/cam/eagle-2.png`, 'eagle video 2'],
    [`${imgUrl}/images/cam/eagle-3.png`, 'eagle video 3'],
  ]

+zoos-cams(
  'Bald Eagle cams',
  'https://www.youtube.com/embed/RmmAzrAkKqI?controls=0',
  'More live views',
  srcArr
)