include ../../../mixins/_zoos-mixins.pug

-const activeUrl = '/pages/zoos/eagle';

-
  const zoosUrl = [
    '/pages/zoos/eagle',
    '/pages/zoos/gorilla',
    '/pages/zoos/lemur',
    '/pages/zoos/panda',
    '#',
    '#',
    '#',
    '#',
  ]

-
  const imgClass = [
    'eagle',
    'gorilla',
    'lemur',
    'panda',
    'lion',
    'crocodile',
    'tiger',
    'koala',
  ]

-
  const textArr = [
    'Watch The Bald Eagles Nest from West End cam',
    'Livestream from Gorilla Forest Corridor habitat cam',
    'The ring-tailed lemurs play in Madagascar, Lemuria Land',
    "Watch live from China's Panda Center ",
    'Livestream from Lion Savannah Corridor habitat cam',
    'Watch live from USA Alligator Center',
    'Watch The Amur Tiger from southern part of the Far East',
    'Watch The Koala from Eastern Australia Koala Center',
  ]

+aside(imgClass, zoosUrl, textArr, activeUrl)

