include ../../../mixins/_zoos-mixins.pug

-const text = 'Watch as this lifelong pair of eagle parents lay and protect eggs, feed their chicks and teach them to hunt and fly. Sam and Lora have stolen the hearts of thousands of viewers! 100% of the donations from this page will be utilized directly for the streaming and operational costs of this project.'

+donate(
  'Keep the Bald Eagle cams Streaming!',
  text
)
