include ../../../mixins/_zoos-mixins.pug

-const text = 'More than 90% of lemur species are endangered and might face extinction in the nearest future. Watch the ring-tailed lemurs play and climb in this soothing setting and support them by donating for the fruits they adore.'

+donate(
  'Provide Andy the lemur with fruits!',
  text
)