include ../../../mixins/_zoos-mixins.pug

-
  const srcArr = [
    [`${imgUrl}/images/cam/lemur-1.png`, 'lemur video 1'],
    [`${imgUrl}/images/cam/lemur-1.png`, 'lemur video 1'],
    [`${imgUrl}/images/cam/lemur-1.png`, 'lemur video 1'],
  ]

+zoos-cams(
  'lemurs cams',
  'https://www.youtube.com/embed/_5_oHPJDDOM?controls=0',
  'More live views',
  srcArr
)