include ../../../mixins/_zoos-mixins.pug

-const remarkText = 'A ring-tailed lemur mob will gather in open areas of the forest to sunbathe. They sit in what some call a "yoga position" with their bellies toward the sun and their arms and legs stretched out to the sides.'

-const statText = `Ring-tailed lemurs are named for the 13 alternating black and white bands that adorn their tails. Unlike most other lemurs, ringtails spend 40 percent of their time on the ground, moving quadrupedally along the forest floor. Ring-tailed lemurs live in southwestern Madagascar, in arid, open areas and forests in territories that range from 15 to 57 acres (0.06 to 0.2 square kilometers) in size. As with all lemurs, olfactory communication is important for ringtails. Ring-tailed lemurs have scent glands on their wrists and chests that they use to mark their foraging routes. Ringtails eat leaves, flowers and insects. They can also eat fruit, herbs and small vertebrates. Females usually give birth to their first baby when they are three years old, and usually once a year every year after that. All adult females participate in raising the offspring of the group. The median life expectancy for a ring-tailed lemur is about 16 years.`

-
  const namesArr = [
    ['Common name:', 'Ring-Tailed Lemur'],
    ['Scientific name:', 'Lemur catta'],
    ['Type:', 'Mammals'],
    ['Size:', 'Head and body: 17.75 inches; tail: 21.75 inches'],
    ['Diet:', 'Herbivore'],
    ['Habitat:', 'Arid, open areas and forests'],
    ['Range:', 'Southeast Asia'],
  ]

+zoos-know(
  'did you know?',
  remarkText,
  namesArr,
  `${imgUrl}/images/cam/stat-lemur.png`,
  'lemur',
  statText
)