extends ../../layouts/main.pug

block variables
  - const currentUrl = '/contact';
  - const imgUrl = "../../assets";
  - const cssUrl = "main.css";
  - const jsUrl = "script.js";
  - const generalJs = "../script.js";

block content
  .wrapper
    main.main
      include ../../sections/contact/_contact.pug