//start contact section
section.contact
  .contact__image-wrapper
    img.contact__image(src=`${imgUrl}/images/contact/main.jpg` alt="main contact")
  .container
    .contact__touch.touch
      .touch__inner
        h3.title.touch__title Get in touch
        p.text.touch__text Whether you have a question, or would like to say hello, we're happy to hear from you.
          |	 Please use the form to send us a message and we'll get back to you as soon as we can. Whether you have a question,
          |	 or would like to say hello, we're happy to hear from you. Please use the form to send us a message and we'll get back to you as soon as we can.
      form.text.touch__form.touch-form(action="#" method="post")
        p.touch-form__item
          label.touch-form__label(for="name")
            span.touch-form__star *
            |  Your Name
          input.touch-form__input(name="name" type="text" id="name" required placeholder="First and last name")
        p.touch-form__item
          label.touch-form__label(for="email")
            span.touch-form__star *
            |  Your Email Address
          input.touch-form__input(name="email" type="email" id="email" required placeholder="Enter your email")
        p.touch-form__item
          label.touch-form__label(for="subject")
            span.touch-form__star *
            |  Subject
          input.touch-form__input(name="subject" type="text" id="subject" required placeholder="Enter the subject")
        p.touch-form__item
          label.touch-form__label(for="message")
            span.touch-form__star *
            |  Message
          textarea.touch-form__textarea(name="message" id="message" required placeholder="Enter your message")
        button.btn.btn--green.touch-form__button(type="submit") send message
//end contact section