// ----------------------------------------------------------------------
// donation
// ----------------------------------------------------------------------
.donation {
  &__wrapper {
    background: $navy;
  }

  &__inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    color: $white;
  }

  &__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 610px;
  }
}

// ----------------------------------------------------------------------
// DONATE
// ----------------------------------------------------------------------
.donate {
  &__title {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 10px;
  }

  &__btn {
    position: relative;
    height: 74px;
    border: 1px solid $white;
    border-radius: 5px;

    &::after {
      content: "$";
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      position: absolute;
      left: 14px;
    }
  }
}

// ----------------------------------------------------------------------
// DONATE BTN
// ----------------------------------------------------------------------
.donate-btn {
  position: relative;
  @extend %flex-between-center;

  &__input {
    padding: 0 15px 0 31px;
    width: 240px;
    height: 100%;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: $white;

    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:hover,
    &:focus {
      -moz-appearance: number-input;
    }

    &::-moz-placeholder {
      color: $white;
    }
    &::-webkit-input-placeholder {
      color: $white;
    }
    &:-ms-input-placeholder {
      color: $white;
    }
    &::-ms-input-placeholder {
      color: $white;
    }
    &::placeholder {
      color: $white;
    }
  }

  &__btn {
    width: 80px;
    height: 100%;
    background: $orange;
    border-radius: 5px;
    position: relative;
    transition: $transition;

    &::after {
      @extend %after-arrow;
      @extend %absolute-center;
    }

    &:hover {
      background: $dark-orange;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------------------------
// MEDIA 1440
// --------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 1440px) {
  // -----------------------------------------------
  // DONATION
  // -----------------------------------------------
  .donation {
    &__inner {
      padding: 50px 60px;
    }

    &__inner-text {
      max-width: 575px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------------------------
// MEDIA 980
// --------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 980px) {
  // -----------------------------------------------
  // DONATION
  // -----------------------------------------------
  .donation {
    &__inner {
      padding: 50px 0;
      text-align: center;
      display: block;
    }

    &__title {
      max-width: 565px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &__inner-text {
      max-width: none;
      margin-bottom: 30px;
    }
  }

  // -----------------------------------------------
  // DONATE
  // -----------------------------------------------
  .donate {
    &__btn {
      max-width: 363px;
      margin: 0 auto;

      &:after {
        left: 35px;
      }
    }
  }

  // -----------------------------------------------
  // DONATE BTN
  // -----------------------------------------------
  .donate-btn {
    &__input {
      padding: 0 0px 0 53px;
      width: 100%;
    }

    &__btn {
      width: 100px;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------------------------
// MEDIA 600
// --------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 600px) {
  // -----------------------------------------------
  // DONATION
  // -----------------------------------------------
  .donation {
    &__title {
      font-size: 26px;
      line-height: 32px;
    }

    &__inner {
      padding-top: 25px;
      padding-bottom: 40px;
    }
  }

  // -----------------------------------------------
  // DONATE
  // -----------------------------------------------
  .donate {
    &__btn {
      height: 45px;

      &:after {
        font-size: 16px;
        line-height: 20px;
        left: 23px;
      }
    }
  }

  // -----------------------------------------------
  // DONATE BTN
  // -----------------------------------------------
  .donate-btn {
    &__btn {
      width: 80px;
    }

    &__input {
      font-size: 16px;
      line-height: 20px;
      padding: 0 0px 0 40px;
    }
  }
}
