@import "reset";
@import "vars";

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  color: $aqua;
}

.subtitle {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}

.text {
  font-size: 18px;
  line-height: 150%;
}

.pets-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}

.btn {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 26px 70px 26px 35px;
  background: $orange;
  border-radius: 5px;
  cursor: pointer;
  transition: $transition;

  &:after {
    @extend %after-arrow;
    right: 30px;
    transition: $transition;
  }

  &:hover {
    background: $dark-orange;
  }

  &--transparent {
    background: none;
    text-decoration: underline;
    color: $aqua;

    &:after {
      background: none;
    }

    &:hover {
      background: $dark-aqua;
      color: $white;
    }
  }

  &--green {
    background: $aqua;
    &:hover {
      background: $dark-aqua;
    }
  }

  &--outline {
    background: transparent;
    border: 1px solid $navy;
    border-radius: 5px;
    color: $navy;

    &:after {
      background-image: url("#{$assets}/icons/btn-arrow-outline.svg");
    }

    &:hover {
      background: $navy;
      border-color: $white;
      color: $white;

      &:after {
        background-image: url("#{$assets}/icons/btn-arrow.svg");
      }
    }
  }

  &--outline-orange {
    background: transparent;
    color: $orange;

    &:after {
      background-image: url("#{$assets}/icons/btn-arrow-orange.svg");
    }

    &:hover {
      background: $orange;
      color: $white;

      &:after {
        background-image: url("#{$assets}/icons/btn-arrow.svg");
      }
    }
  }

  &--outline-white {
    background: transparent;
    color: $white;
    border: 1px solid $white;

    &:after {
      background-image: url("#{$assets}/icons/btn-arrow.svg");
    }

    &:hover {
      background: $aqua;
    }
  }
}

.navigation {
  width: 180px;
  height: 60px;
  @extend %flex-between-center;

  &__prev,
  &__next {
    cursor: pointer;
    height: 100%;
    width: 60px;
    border: {
      width: 1px;
      style: solid;
    }
    border-radius: 5px;
    background: {
      image: url("#{$assets}/icons/nav-arrow-dark.svg");
      repeat: no-repeat;
      position: center;
    }
    transition: $transition;

    &--dark {
      border: {
        color: $navy;
      }
      &:hover {
        background: {
          color: $navy;
          image: url("#{$assets}/icons/nav-arrow-white.svg");
        }
        border : {
          color: none;
        }
      }
    }

    &--white {
      background: {
        image: url("#{$assets}/icons/nav-arrow-white.svg");
      }
      border: {
        color: $white;
      }

      &:hover {
        background: {
          color: $white;
          image: url("#{$assets}/icons/nav-arrow-dark.svg");
        }
        border : {
          color: none;
        }
      }
    }
  }

  &__next {
    transform: rotate(180deg);
  }
}

.logo {
  @for $i from 1 through 3 {
    &__img path:nth-child(#{$i}) {
      transition: all 0.5s ease;
      transition-delay: $i * (0.1s);
      animation: 1.5s ease uprise;
      animation-delay: $i * (0.1s);
    }
  }

  &__img:hover path {
    fill: $white;
  }

  &__img--white path {
    fill: $white;
  }

  &__img--white:hover path {
    fill: $aqua;
  }
}

@keyframes uprise {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: $transition;

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  &__inner {
    display: flex;
  }

  &__content {
    max-width: 920px;
    position: relative;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background: $white;
    transition: $transition;
    transform: perspective(600px) translateY(-100%) rotateX(45deg);
  }

  &__input {
    height: 60px;
    border: 1px solid $black;
    border-radius: 5px;
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    color: $white;
    background: $light-aqua;
    padding: 21px 43px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    transition: $transition;

    &:hover {
      background: $aqua;
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:after,
    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 27px;
      top: 50%;
      left: 50%;
      background: $white;
      border-radius: 3px;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: $transition;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &:after {
        transform: translate(-50%, -50%) rotate(-135deg);
        height: 45px;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(135deg);
        height: 45px;
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    .popup__content {
      transform: perspective(600px) translateY(0%) rotateX(0deg);
    }
  }
}

@media (max-width: 980px) {
  .wrapper {
    min-height: auto;
    padding-top: 112px;
  }

  .container {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }

  .title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
  }

  .subtitle {
    font-size: 18px;
    line-height: 150%;
  }

  .btn {
    width: 100%;
  }

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@import "header";
@import "donation";
@import "footer";
@import "popupCare";
@import "popupDonate";
