include ../../mixins/_mixins.pug

// start care section
section.care
  .container
    .care__inner-top
      h3.title.care__title care for the animals you love
      p.subtitle.care__subtitle You can help to look after the animals you love with your gift today
    .care__inner-bottom
      .care-images.care__images
        .care-images__wrapper
          figure.care-images__photo-wrapper
            img.care-images__photo(src=`${imgUrl}/images/care/koala.jpg` alt="koala")
          +care-card('panda.jpg', "Your $30 could give Lucas a slice of panda cake, made with our secret recipe.", '/pages/zoos/panda')
          +care-card('tiger.jpg', "Your $150 will help to care for Senja, a Sumatran tiger, for three weeks.", '#')
          +care-card('lemur.jpg', "With your support, we can give Andy his favorite fruits. Especially when it's not fruit season in its natural habitat.", '/pages/zoos/lemur')
          +care-card('eagles.jpg', "Sam & Lora have hatched and raised numerous young and will be happy with your help.", '/pages/zoos/eagle')
    .care__pagination.pagination
      ul.pagination__wrapper
        li.pagination__btn.pagination__btn--active
        li.pagination__btn
        li.pagination__btn
        li.pagination__btn
    a.care__btn-wrapper(href="/pages/map")
      button.btn.btn--outline.care__btn choose your favourite
  .care__image-wrapper
    img.care__image(src=`${imgUrl}/images/care/lemur-bottom.jpg` alt="lemur")
// end care section