// start favorite-animal section
section.favorite-animal
  .favorite-animal__wrapper
    .container
      h2.favorite-animal__title
        | Watch your favorite animal online
      p.text.favorite-animal__text
        | Explore the exciting and mysterious world of wild animals in a natural setting without leaving your home.
      a.btn.favorite-animal__btn(href="/pages/zoos/panda" target="_blanc") View LIVE CAM
// end favorite-animal section