include ../../mixins/_mixins.pug

// start meet-pets section
section.meet-pets
  .meet-pets__wrapper
    .container
      .meet-pets__inner-text
        h3.title.meet-pets__title meet some our Pets
        p.subtitle.meet-pets__text
          | Do you have a special place in your heart for animals? Who are your favorites?
          |	 Perhaps you'd like to donate to special ones or all our pets? We think it's important
          |  for you to choose how your donation is used.
      .navigation.pets-slider__navigation
        .pets-slider__navigation-prev.navigation__prev.navigation__prev--dark
        .pets-slider__navigation-next.navigation__next.navigation__next--dark
      .pets-slider.meet-pets__slider
        .pets-slider__wrapper
          .pets-slider__inner.pets-slider__inner-top
            +pets-card('Lucas', 'panda.png', 'Giant Panda', 'Native to central China, giant pandas have come to symbolize vulnerable species.', '/pages/zoos/panda')
            +pets-card('Andy', 'lemur.png', 'Madagascarian Lemur', 'Lemurs are considered the world’s most endangered group of mammals.', '/pages/zoos/lemur')
            +pets-card('Glen', 'gorilla.png', 'Gorilla in Congo ', 'Variety of snacks very important for the healthy life of gorillas and his plenty of babies.', '/pages/zoos/gorilla')
            +pets-card('Mike', 'crocodile.png', 'Chinese Alligator', 'From nose to tail, belly to back, hard scales protect this petite alligator.', '#')
            +pets-card('Sam & Lora', 'eagles.png', 'West End Bald Eagles', 'Pair of eagle parents lay and protect eggs, feed their chicks and teach them to hunt and fly.', '/pages/zoos/eagle')
            +pets-card('Liz', 'koala.png', 'Australian Koala', 'The elevated walkways bring you to eye level with the koalas as they perch in their forest.', '#')
            +pets-card('Shake', 'lion.png', 'African Lion', 'Lions roam the savannas and grasslands of Africa, hunting and raising cubs in the pride.', '#')
            +pets-card('Senja', 'tiger.png', 'Sumatran Tiger', 'Sumatran Tigers are the smallest of the five sub-species, and are found in Indonesia.', '#')
            +pets-card('Mike', 'crocodile.png', 'Chinese Alligator', 'From nose to tail, belly to back, hard scales protect this petite alligator.', '#')
          .pets-slider__inner.pets-slider__inner-bottom
            +pets-card('Sam & Lora', 'eagles.png', 'West End Bald Eagles', 'Pair of eagle parents lay and protect eggs, feed their chicks and teach them to hunt and fly.', '/pages/zoos/eagle')
            +pets-card('Liz', 'koala.png', 'Australian Koala', 'The elevated walkways bring you to eye level with the koalas as they perch in their forest.', '#')
            +pets-card('Shake', 'lion.png', 'African Lion', 'Lions roam the savannas and grasslands of Africa, hunting and raising cubs in the pride.', '#')
            +pets-card('Senja', 'tiger.png', 'Sumatran Tiger', 'Sumatran Tigers are the smallest of the five sub-species, and are found in Indonesia.', '#')
            +pets-card('Lucas', 'panda.png', 'Giant Panda', 'Native to central China, giant pandas have come to symbolize vulnerable species.', '/pages/zoos/panda')
            +pets-card('Andy', 'lemur.png', 'Madagascarian Lemur', 'Lemurs are considered the world’s most endangered group of mammals.', '/pages/zoos/lemur')
            +pets-card('Glen', 'gorilla.png', 'Gorilla in Congo ', 'Variety of snacks very important for the healthy life of gorillas and his plenty of babies.', '/pages/zoos/gorilla')
            +pets-card('Mike', 'crocodile.png', 'Chinese Alligator', 'From nose to tail, belly to back, hard scales protect this petite alligator.', '#')
            +pets-card('Senja', 'tiger.png', 'Sumatran Tiger', 'Sumatran Tigers are the smallest of the five sub-species, and are found in Indonesia.', '#')
      a.btn.btn--outline.meet-pets__btn(href="/pages/map" target="_blanc") choose your favourite
// end meet-pets section