include ../../mixins/_mixins.pug

-const text1 = "Providing our animals with high-quality nutritious diets is just one element of animal care at our Zoo. We do all the best so that our animals can eat food similar to what they might find in their natural habitats while making sure they get the right mix of nutrients, proteins, and vitamins to be happy and healthy. Please help us provide nutritious food for our animals by donating. The generosity of people like you can help us make sure that our animals enjoy good food that keeps them in great condition.";
-const text2 = "You can donate through your credit card without any fees. It is easy and safe. We do not keep donors' personal information on an online network. Choose an amount to give and the pet's name if needed. One of the most effective ways you can give is by making regular donations.";
-const text3 = "After your donation, the animal receives its favorite foods. You can support your favorite animals or any animal you care about and make a real personal impact. Never doubt that your donation can make a difference even if it is small. ";

-const mobileText1 = "Providing our animals with high-quality nutritious diets is just one element of animal care at our Zoo. We do all the best so that our animals can eat food similar to what they might find in their natural habitats while making sure they get the right mix of nutrients, proteins, and vitamins to be happy and healthy. Please help us provide nutritious food for our animals by donating. The generosity of people"
-const mobileText2 = "You can donate through your credit card without any fees. It is easy and safe. We do not keep donors' personal information on an online network. Choose an amount to give and the pet's name if needed. "
-const mobileText3 = "After your donation, the animal receives its favorite foods. You can support your favorite animals or any animal you care about and make a real personal impact. Never doubt that your donation can make a difference even if it is small. "

// start pay-feed section
section.pay-feed
  .pay-feed__wrapper
    .container
      h3.title.pay-feed__title PAY AND FEED
      +pay-feed('01', 'monkey.jpg', 'heart.svg', 'Your donation has an impact', text1, mobileText1)
      +pay-feed('02', 'bananas.jpg', 'money.svg', 'Make a donation', text2, mobileText2)
      +pay-feed('03', 'monkey-banana.jpg', 'products.svg', 'Bring your food charity — straight to your favorites pets.', text3, mobileText3)

// end pay-feed section