include ../../mixins/_mixins.pug

// start think section
section.think
  .think__wrapper
    .container
      .think__container
        .think__inner
          .title.think__title what our users think
          .subtitle.think__subtitle We are continuously striving to improve the experiences of our future guests. Below you can leave your own feedback, or simply view feedback from past clients.
        .think-slider.think__slider
          .think-slider__wrapper
            .think-slider__inner.think-slider__inner-top
              +think-card("New Jersey, June 2020", "I am writing to thank you for your mission is to bring people closer to nature! Like myself, children were very impressed by the opportunity to explore the life of incredible animals in real-time.", "Karen Maithlan")
              +think-card("Toronto, November 2020", "We so enjoy the ever-evolving selection of animals from around the globe. THANK YOU for sharing these fascinating animal friends with us so that we may learn and increase our understanding of the animal kingdom.", "Carol Larsen")
              +think-card("Amsterdam, June 2020", "I want to thank you for the amazing sites you find to put your cameras to let each of us see things that we would probably never see on our own. There are so many positives on Zoo Online and I'm grateful for it.", "Tomas Ray")
              +think-card("London, February 2020", "A fantastic experience for kids and adults alike! If anyone is looking for an attraction that educates people on wild animals – it's for you! I highly recommend seeing for yourself the variety of animals on your screen.", "C. Stockman")
              +think-card("Moscow, June 2019", "I am writing to thank you for your mission is to bring people closer to nature! Like myself, children were very impressed by the opportunity to explore the life of incredible animals in real-time.", "Karen Maithlan")
              +think-card("Berlin, November 2019", "We so enjoy the ever-evolving selection of animals from around the globe. THANK YOU for sharing these fascinating animal friends with us so that we may learn and increase our understanding of the animal kingdom.", "Carol Larsen")
              +think-card("Budapest, June 2019", "I want to thank you for the amazing sites you find to put your cameras to let each of us see things that we would probably never see on our own. There are so many positives on Zoo Online and I'm grateful for it.", "Tomas Ray")
              +think-card("Uruguay, February 2019", "A fantastic experience for kids and adults alike! If anyone is looking for an attraction that educates people on wild animals – it's for you! I highly recommend seeing for yourself the variety of animals on your screen.", "C. Stockman")
            .think-slider__inner.think-slider__inner-bottom
              +think-card("London, February 2020", "A fantastic experience for kids and adults alike! If anyone is looking for an attraction that educates people on wild animals – it's for you! I highly recommend seeing for yourself the variety of animals on your screen.", "C. Stockman")
              +think-card("Amsterdam, June 2020", "I want to thank you for the amazing sites you find to put your cameras to let each of us see things that we would probably never see on our own. There are so many positives on Zoo Online and I'm grateful for it.", "Tomas Ray")
              +think-card("Toronto, November 2020", "We so enjoy the ever-evolving selection of animals from around the globe. THANK YOU for sharing these fascinating animal friends with us so that we may learn and increase our understanding of the animal kingdom.", "Carol Larsen")
              +think-card("New Jersey, June 2020", "I am writing to thank you for your mission is to bring people closer to nature! Like myself, children were very impressed by the opportunity to explore the life of incredible animals in real-time.", "Karen Maithlan")
              +think-card("Puerto Rico, February 2019", "A fantastic experience for kids and adults alike! If anyone is looking for an attraction that educates people on wild animals – it's for you! I highly recommend seeing for yourself the variety of animals on your screen.", "C. Stockman")
              +think-card("Tokyo, June 2019", "I want to thank you for the amazing sites you find to put your cameras to let each of us see things that we would probably never see on our own. There are so many positives on Zoo Online and I'm grateful for it.", "Tomas Ray")
              +think-card("Sydney, November 2019", "We so enjoy the ever-evolving selection of animals from around the globe. THANK YOU for sharing these fascinating animal friends with us so that we may learn and increase our understanding of the animal kingdom.", "Carol Larsen")
              +think-card("Tirana, June 2019", "I am writing to thank you for your mission is to bring people closer to nature! Like myself, children were very impressed by the opportunity to explore the life of incredible animals in real-time.", "Karen Maithlan")
          .navigation.think-slider__nav
            .think-slider__nav-prev.navigation__prev.navigation__prev--white
            .think-slider__nav-next.navigation__next.navigation__next--white
      .think__pagination.pagination
        ul.pagination__wrapper
          li.pagination__btn.pagination__btn--active
          li.pagination__btn
          li.pagination__btn
          li.pagination__btn
      .think__btn-wrapper
        button.btn.btn--outline-white.think__btn leave feedback
// end think section