// ----------------------------------------------------------------------
// WELCOME
// ----------------------------------------------------------------------
.welcome {
  &__wrapper {
    margin-top: 150px;
  }

  &__inner {
    @extend %flex-between-center;
    margin-bottom: 150px;
  }

  &__inner-text {
    max-width: 560px;
    margin-right: 40px;
    &:nth-child(even) {
      margin-right: 0;
      margin-left: 40px;
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    &--clip {
      display: none;
    }
  }

  &__img {
    max-width: 800px;
    max-height: 530px;
  }

  // --------------------------------------------------------------------------------------------------------------------------------------
  // MEDIA 1440
  // --------------------------------------------------------------------------------------------------------------------------------------
  @media (max-width: 1440px) {
    &__wrapper {
      margin-top: 100px;
      padding: 0 60px;
      margin-bottom: 100px;
    }

    &__inner {
      margin-bottom: 75px;
      display: grid;
      &:nth-child(even) {
        justify-content: end;
      }
    }

    &__inner-img {
      grid-row: 1/2;
      margin-bottom: 30px;
    }

    &__inner-text {
      margin: 0;
      &:nth-child(even) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    &__title {
      margin-bottom: 30px;
    }

    &__img {
      max-width: 660px;
      max-height: 440px;
    }
  }

  // --------------------------------------------------------------------------------------------------------------------------------------
  // MEDIA 980
  // --------------------------------------------------------------------------------------------------------------------------------------
  @media (max-width: 980px) {
    & {
      .container {
        padding: 0;
      }
    }

    &__inner {
      margin-bottom: 45px;
    }

    &__wrapper {
      padding: 0;
    }

    &__inner-img {
      height: 68vw;
      width: 100vw;

      &:nth-child(odd) {
        height: 67vw;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: none;
      max-height: none;
    }

    &__inner-text {
      max-width: none;
      padding: 0 20px;
    }
  }

  // --------------------------------------------------------------------------------------------------------------------------------------
  // MEDIA 600
  // --------------------------------------------------------------------------------------------------------------------------------------
  @media (max-width: 600px) {
    &__wrapper {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    &__inner-text {
      padding: 0 10px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__text {
      &--full {
        display: none;
      }

      &--clip {
        display: block;
      }
    }

    &__img {
      border-radius: 5px;
    }
  }
}
